
.cartPage h2 {
	padding-top: 5rem;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 150%;
}

.cartPage .media {
	margin-top: 2rem;
}

.cartPage .media-body {
	margin-left: 3rem;
}

.cartPage .confirmationText {
	text-align: center;
}

.cartPage .media h5 {
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 3rem;
	font-size: 200%;
}

@media screen and (max-width: 600px) {
	.cartPage .media .price {
		display: none;
	}
}

.cartPage .media img {
	height: 8rem;
}

.cartPage .price {
	margin: 1.5rem 2rem;
}

.cartPage hr {
	margin-top: 2rem;
}

.cartPage #confirmation-yes,
.cartPage #confirmation-no {
	transform: scale(2);
	margin-top: 0.8rem;
}

.cartPage [for="confirmation-yes"],
.cartPage [for="confirmation-no"] {
	font-size: 150%;
	margin-left: 1rem;
}

.cartPage .required {
	color: red;
}

.cartPage #plusOne {
	margin-left: -0.5rem;
}

.cartPage [for="plusOne"] {
	margin-left: 1rem;
}

.cartPage #children {
	margin-top: 1rem;
}

.cartPage .alert {
	margin-top: 2rem;
}

.cartPage .form-group {
	margin-top: 2rem;
}

.cartPage label {
	clear: both;
}

.cartPage input[type="text"],
.cartPage input[type="number"],
.cartPage input[type="phone"],
.cartPage input[type="email"],
.cartPage textarea {
	float: right;
	clear: both;
	display: inline-block;
	width: 70%;
}

.textarea {
	padding-top: 2rem;
}

.cartPage .confirmationWrapper {
	text-align: center;
	margin-left: 15rem;
	margin-top: 2rem;
}

.cartPage .text-muted {
	max-width: 20%;
}

@media screen and (max-width: 800px) {
	.cartPage .confirmationWrapper {
		margin-left: auto;
	}

	.cartPage .plusOneLabel {
		width: 3rem;
	}
}

.cartPage .form-group {
	clear: both;
}

.cartPage button {
	clear: both;
	float: right;
	margin: 2rem;
	color: white;
	text-align: center;
	font-size: 130%;
	background-color: rgb(133, 56, 64);
}

.cartPage .alert {
	clear: both;
}
