
.location {
	position: relative;
	width: 100%;
	margin-top: 8rem;
}

.location h2 {
	padding-top: 1rem;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 120%;
}

.location .plan {
	width: 60%;
	clear: both;
	text-align: center;
	margin-top: 10rem;
}

.location .mapouter {
	float: left;
	margin-right: 2rem;
	position: relative;
	text-align: right;
	height: 600px;
	width: 600px;
}

.location .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 600px;
	width: 600px;
}

.location .gmap_canvas iframe {
	height: 600px;
	width: 600px;
}
