
.shoppingCart {
	z-index: 50;
	font-size: 4rem;
	position: fixed;
	top: 1rem;
	right: 4rem;
	color: #333333;
}

.shoppingCart i.active {
	color: #555555;
}

.shoppingCart .popover {
	text-align: center;
	top: 5.5rem;
	width: 20rem;
	left: -12rem;
}

.shoppingCart .popover .arrow {
	left: 12.5rem;
}

.shoppingCart .popover a {
	color: white;
	margin-top: 1rem;
	text-align: center;
	font-size: 130%;
	background-color: rgb(133, 56, 64);
}
